In [236]:
import pandas as pd
import numpy as np

In [237]:
pd.set_option("display.max_columns", None)

In [238]:
# df = pd.read_excel(r"C:\Users\jober\OneDrive\Desktop\BD_CO\Base de Intermediacion Laboral 2025.xlsx",sheet_name="BASE GENERAL")
df = pd.read_excel(r"C:\Users\jober\Downloads\Base de Intermediacion Laboral 2025.xlsx",sheet_name="BASE GENERAL")

In [239]:
# Typing column the names 
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(" ","_")

In [240]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88656 entries, 0 to 88655
Data columns (total 35 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   item                                                   5932 non-null   float64
 1   mes_registro                                           1072 non-null   object
 2   convenio                                               1072 non-null   object
 3   gestión_vacante_                                       1072 non-null   object
 4   población                                              1072 non-null   object
 5   no.                                                    1072 non-null   float64
 6   código_proceso                                         1072 non-null   object
 7   nombre_de_la_empresa                                   1072 non-null   object
 8   nombre_de_la_vacante                                   1070 non-null   object
 9   vacantes_solicitadas/puestos_de_trabajo_en_plataforma  228 non-null    float64
 10  fecha_de_publicacion_de_la_vacante                     1072 non-null   datetime64[ns]
 11  fecha_de_vencimiento_de_la_vacante                     1072 non-null   datetime64[ns]
 12  hojas_de_vida_remitidas                                1050 non-null   float64
 13  fecha_envío_hojas_de_vida_a_la_empresa                 1050 non-null   datetime64[ns]
 14  nombre_del_candidato                                   1046 non-null   object
 15  cedula                                                 1046 non-null   object
 16  telefono                                               1046 non-null   object
 17  edad                                                   1046 non-null   float64
 18  rango_de_edad                                          1046 non-null   object
 19  nivel_educativo                                        1046 non-null   object
 20  formacion                                              1046 non-null   object
 21  sexo                                                   1047 non-null   object
 22  barrio                                                 1047 non-null   object
 23  condicion                                              1046 non-null   object
 24  gestor                                                 1069 non-null   object
 25  intermediador_                                         1062 non-null   object
 26  llamada_/_convocatoria/_base_de_datos                  1045 non-null   object
 27  observación_intermediación                             57 non-null     object
 28  observación_gestión                                    19 non-null     object
 29  observación_del_candidato                              0 non-null      float64
 30  mes_de_colocación_en_plataforma                        114 non-null    object
 31  colocado                                               114 non-null    float64
 32  semana_publicacion_vacante                             88655 non-null  float64
 33  mes_publicacion_vacante                                88655 non-null  float64
 34  tipo_de_vacante                                        0 non-null      float64
dtypes: datetime64[ns](3), float64(10), object(22)
memory usage: 23.7+ MB

In [241]:
df.columns

Index(['item', 'mes_registro', 'convenio', 'gestión_vacante_', 'población',
       'no.', 'código_proceso', 'nombre_de_la_empresa', 'nombre_de_la_vacante',
       'vacantes_solicitadas/puestos_de_trabajo_en_plataforma',
       'fecha_de_publicacion_de_la_vacante',
       'fecha_de_vencimiento_de_la_vacante', 'hojas_de_vida_remitidas',
       'fecha_envío_hojas_de_vida_a_la_empresa', 'nombre_del_candidato',
       'cedula', 'telefono', 'edad', 'rango_de_edad', 'nivel_educativo',
       'formacion', 'sexo', 'barrio', 'condicion', 'gestor', 'intermediador_',
       'llamada_/_convocatoria/_base_de_datos', 'observación_intermediación',
       'observación_gestión', 'observación_del_candidato',
       'mes_de_colocación_en_plataforma', 'colocado',
       'semana_publicacion_vacante', 'mes_publicacion_vacante',
       'tipo_de_vacante'],
      dtype='object')

## 0. Selecting the useful rows

In [242]:
# Cleaning NaN data. Data as 'nan' are not actual "NaN":
for column in df.columns:
    df[column] = df[column].replace('nan', pd.NA)

In [243]:
# Selecting the useful rows only
filter_mt = (df['mes_registro'].isna() & df['gestión_vacante_'].isna() & 
             df['población'].isna() & df['código_proceso'].isna())
df = df[~filter_mt]

## 1. Cleaning columns

In [244]:
# Cleaning columns
subset_columns = ['mes_registro', 'convenio', 'gestión_vacante_', 'población',
       'código_proceso', 'nombre_de_la_empresa', 'nombre_de_la_vacante',
       'nombre_del_candidato', 'nivel_educativo', 'formacion', 'sexo', 'barrio', 'condicion', 
       'gestor', 'intermediador_','llamada_/_convocatoria/_base_de_datos', 'observación_intermediación',
       'observación_gestión', 'observación_del_candidato', 'mes_de_colocación_en_plataforma', 'colocado',
       'semana_publicacion_vacante', 'mes_publicacion_vacante', 'tipo_de_vacante']

for column in subset_columns:
    df[column] = [str(i).lower() for i in df[column]]
    df[column] = [str(i).strip() for i in df[column]]

In [245]:
df = df.rename(columns={'vacantes_solicitadas/puestos_de_trabajo_en_plataforma':'puestos_de_trabajo_en_plataforma'})

In [246]:
# Cleaning column 'convenio': 
df['convenio'] = df['convenio'].replace(['ninguno', 'ninguna'],np.nan)

In [247]:
# Cleaning column 'nivel_educativo': 
dictionary = {
    'técnico':'tecnico',
    'tegnologo':'tecnologo',
    'tecnologa':'tecnologo',
    'universitaria':'universitario',
    'pfofesional':'universitario',
    'profesional':'universitario',
    'primaria':'basica primaria',
    'bachiller':'educación media',
}
df['nivel_educativo'] = df['nivel_educativo'].replace(dictionary)

In [248]:
# Cleaning column 'edad': 
df['edad'] = df['edad'].fillna(0)
df['edad'] = df['edad'].apply(lambda x:int(x))

def range_age(age):
    if  0 < age < 18:
        return '< 18'
    elif 18 <= age < 29:
        return '18-28'
    elif 29 <= age < 40:
        return '29-39'
    elif 40 <= age < 50:
        return '40-49'
    elif 50 <= age < 60:
        return '50-59'
    elif 60 <= age < 2000:
        return '> 60'
    else:
        return np.nan

df['rango_de_edad'] = df['edad'].apply(range_age)

In [249]:
# Cleaning column 'condicion': 
df['condicion'] = df['condicion'].replace(['ninguna','ninguno','nimguno'],np.nan)

In [250]:
# Cleaning column 'semana_publicacion_vacante': 
df['semana_publicacion_vacante'] = df['fecha_de_publicacion_de_la_vacante'].dt.isocalendar().week

# Cleaning column 'mes_publicacion_vacante': 
df['mes_publicacion_vacante'] = df['fecha_de_publicacion_de_la_vacante'].dt.month.fillna(0).astype(int)

# Cleaning column 'año_publicacion_vacante': 
df['año_publicacion_vacante'] = df['fecha_de_publicacion_de_la_vacante'].dt.isocalendar().year

In [251]:
# Evaluating unique values:
for column in df.columns:
    print(df[column].value_counts())

item
1034.0    2
1015.0    2
1.0       1
708.0     1
707.0     1
         ..
359.0     1
360.0     1
361.0     1
362.0     1
1059.0    1
Name: count, Length: 1058, dtype: int64
mes_registro
enero         379
febrero       363
marzo         258
abril          65
diciembre       4
agosto          1
septiembre      1
noviembre       1
Name: count, dtype: int64
convenio
consorcio    14
Name: count, dtype: int64
gestión_vacante_
gestionar        1066
sin gestionar       5
cancelada           1
Name: count, dtype: int64
población
regular                 994
discapacidad             58
regular/discapacidad      9
discapacidad/regular      6
regular/migrante          5
Name: count, dtype: int64
no.
54.0    47
42.0    41
55.0    30
23.0    29
47.0    27
        ..
25.0     7
69.0     7
68.0     5
71.0     2
72.0     1
Name: count, Length: 72, dtype: int64
código_proceso
311612-51         33
211626-95         33
314594-62566      24
1626050035-58     22
1625936461-29     13
                  ..
1626050065-222     1
319257-3           1
1626072278-106     1
1626465725-1       1
211933-144360      1
Name: count, Length: 237, dtype: int64
nombre_de_la_empresa
su servicio temporal s.a                            42
grupo alimentario del atlantico s.a. gralco s.a.    36
servicios de alimentacion n.p. s.a.                 35
poliplastics s.a.s                                  33
construcciones obycon s.a.s                         28
                                                    ..
js ingenieria y construcciones sas                   1
servi industriales y mercadeo ltda                   1
consorcio mercados barranquilla 2022                 1
grupo coosocial servicios s.a.s                      1
brilladora el diamante s.a.                          1
Name: count, Length: 120, dtype: int64
nombre_de_la_vacante
asesor comercial                                   34
operario de vaciado                                33
operario de producción (cd)                        33
auxiliar contable                                  26
auxiliar de servicios generales                    24
                                                   ..
auxiliar de maquina (litografia)                    1
operario de produdccion                             1
tecnico servicio domicilio                          1
operador logistico (oprerador de montacaguista)     1
psicologo de seleccion                              1
Name: count, Length: 197, dtype: int64
puestos_de_trabajo_en_plataforma
1.0     162
2.0      38
3.0       9
4.0       5
10.0      4
6.0       3
5.0       3
15.0      2
50.0      1
30.0      1
Name: count, dtype: int64
fecha_de_publicacion_de_la_vacante
2025-01-27    82
2025-02-12    48
2025-02-18    45
2025-01-20    44
2025-02-07    39
              ..
2025-01-07     1
2024-11-13     1
2024-09-20     1
2024-08-14     1
2024-12-27     1
Name: count, Length: 68, dtype: int64
fecha_de_vencimiento_de_la_vacante
2025-04-01    57
2025-01-17    54
2025-01-27    49
2025-02-25    45
2025-02-18    40
              ..
2025-01-03     1
2024-12-20     1
2024-12-14     1
2024-11-19     1
2024-09-27     1
Name: count, Length: 66, dtype: int64
hojas_de_vida_remitidas
1.0    1050
Name: count, dtype: int64
fecha_envío_hojas_de_vida_a_la_empresa
2025-01-27    54
2025-02-25    43
2025-01-14    42
2025-02-12    41
2025-02-18    38
              ..
2025-02-20     4
2025-02-24     3
2024-01-29     3
2025-02-28     2
2025-01-12     1
Name: count, Length: 61, dtype: int64
nombre_del_candidato
nan                                  26
brianis naileth simanca rodriguez     5
pedro manuel barriosnuevos solano     5
yeinis patricia badel ruiz            4
norelis lucia solano barraza          3
                                     ..
jesus arturo mercado gutierrez        1
kevin sebastian sandoval ponton       1
natalia maria pacheco ruiz            1
marly elena charris cantillo          1
david alfonso cantillo ramirez        1
Name: count, Length: 889, dtype: int64
cedula
1007451119    5
72352119      5
72267909      4
22522750      4
1143143225    4
             ..
1003198977    1
1045730145    1
1143141402    1
1193150584    1
1143249890    1
Name: count, Length: 872, dtype: int64
telefono
3234771125               5
3045555114               5
3106551596               4
3243387427               3
3001818240               3
                        ..
3006397616-3022791413    1
3042694007-3025249783    1
3015290819-3213398455    1
3006370220-3015731498    1
3330475338               1
Name: count, Length: 903, dtype: int64
edad
24    62
30    59
27    58
26    56
33    48
39    48
25    48
28    46
34    45
29    40
32    39
31    38
35    38
36    36
42    32
37    32
22    31
38    30
21    27
0     26
20    26
23    22
41    21
44    21
46    21
40    20
43    20
45    16
47    11
48    10
49     8
54     5
19     4
18     4
50     4
57     4
64     3
51     3
55     3
53     3
56     2
58     1
59     1
Name: count, dtype: int64
rango_de_edad
29-39    453
18-28    384
40-49    180
50-59     26
> 60       3
Name: count, dtype: int64
nivel_educativo
educación media                 313
tecnico                         311
universitario                   199
tecnologo                       161
tecnico laboral                  44
nan                              26
estudiante                        7
tecnico profesional               3
especialista                      3
basica secundaria                 2
basica primaria                   2
certificado por competencias      1
Name: count, dtype: int64
formacion
bachiller academico                         214
bachiller académico                          37
contador publico                             26
nan                                          26
bachller academico                           23
                                           ...
tecnólogo en negocios internacionales         1
tecnólogo en gestión naviera y portuaria      1
tecnólogo en topografia                       1
tecnico en gestion logistica                  1
técnico en recursos humanos                   1
Name: count, Length: 478, dtype: int64
sexo
m      631
f      416
nan     25
Name: count, dtype: int64
barrio
soledad               93
nan                   25
malambo               22
soledad 2000          18
carrizal              18
                      ..
villa santos           1
villa del rosario      1
tayrona                1
urbanizacion muvdi     1
santo tomás            1
Name: count, Length: 324, dtype: int64
condicion
juventudes                            198
discapacidad auditiva                  43
migrante                               40
nan                                    26
vca                                    20
mch                                    18
discapacidad fisica                    16
juventudes/vca                         11
lgtbiq+                                 9
afrocolombiano                          9
juventudes/migrante                     6
discapacidad - fisica                   5
migrante/juventudes                     4
adulto mayor                            4
vca/juventudes                          4
discapacidad auditiva/juventudes        3
indigena                                2
retornada                               2
pcd                                     1
juentudes                               1
discapacidad fisica/migrante            1
afrocolombiana                          1
discapacidad visual                     1
discapacidad fisica/juventudes          1
discapacidad visual/juventudes          1
afrocolombiano/migrante/juventudes      1
Name: count, dtype: int64
gestor
ana pallares               346
luz amparo debedout        342
maria fernanda salcedo     108
nataly reyes                70
sindy romero                65
ana fonseca                 51
mileydis oñoro              40
jenny alvarez               29
jenny  alvarez              14
nan                          3
maria fernanda fontalvo      2
luz amparo de bedout         2
Name: count, dtype: int64
intermediador_
ana pallares                                              228
ana fonseca                                               222
nataly reyes                                              199
sindy romero                                              196
ana fonseca/nataly reyes                                   72
geovanny jimenez                                           38
sindy romero/ana fonseca                                   28
maria fernanda salcedo                                     24
daniela lugo/jose brieva                                   20
jenny alvarez                                              10
nan                                                        10
ana pallares/jeovanni jimenez                               9
nataly reyes/daniela lugo/jose brieva/geovanny jimenez      9
sindy romero/daniela lugo                                   3
daniela lugo/jose brieva/geovanny jimenez                   2
nataly reyes/ana fonseca                                    1
jose brieva/geovanny jimenez                                1
Name: count, dtype: int64
llamada_/_convocatoria/_base_de_datos
llamada                                                                  596
base de datos                                                            213
base de datos sise                                                        88
empresa vinculada al programa inclusion "oportunidades sin fronteras"     33
remitido                                                                  31
nan                                                                       27
correo institucional                                                      19
referidos                                                                 10
remitidas                                                                  9
base de datos orientados                                                   6
remitidos inca                                                             4
correo jovenes                                                             4
chatlemos                                                                  4
base de datos feria                                                        4
convocatoria presencial                                                    3
recomendada                                                                3
postulado por agencia                                                      3
base de datos bid                                                          2
base  de datos sise                                                        2
base de datos migrante                                                     2
remitido base de datos pcd                                                 1
base de datos fsd                                                          1
base de dato chatlemos                                                     1
base de datos integrate                                                    1
base de datos migrantes                                                    1
base de datos chatlemos                                                    1
base de datos-feria pal barrio santuario                                   1
convocatoria laboral (14 feb)                                              1
base de registro                                                           1
Name: count, dtype: int64
observación_intermediación
nan                                                                                                                  1015
error en la fecha al momento de cargar la vacante, la cual no vencia el vienes 31 de enero sino hoy 03 de febrero      19
segunda remision                                                                                                       14
2da remision                                                                                                            8
sin experiencia decreto 0532/2024                                                                                       5
remitido desde el usuario de yeimy                                                                                      2
pte x postular en sise ya se valido todo y no permite autopostular                                                      1
migrante - retornado                                                                                                    1
tiene licencia carro c1                                                                                                 1
tiene licencia moto a2                                                                                                  1
segunda remisión                                                                                                        1
tambien tiene experiencia en visual merchandising                                                                       1
vacante sin remisión                                                                                                    1
2 remision                                                                                                              1
correo institucional                                                                                                    1
Name: count, dtype: int64
observación_gestión
nan                                                                                                                     1053
error al momento de cargar la vacante, ya que se cargo el 3 de febrero y realmente vence el 7 de febrero                  10
cancelada por el gestor-error en el registro de vacante                                                                    6
segunda remision                                                                                                           1
cancelada por el gestor posterior a informacion suministrada por la empresa donde decide no continuar con el proceso       1
error al subir la vacante por parte del gestor                                                                             1
Name: count, dtype: int64
observación_del_candidato
nan    1072
Name: count, dtype: int64
mes_de_colocación_en_plataforma
nan        958
enero       67
marzo       32
febrero     15
Name: count, dtype: int64
colocado
nan    958
1.0    114
Name: count, dtype: int64
semana_publicacion_vacante
6     124
5     117
7     113
11    104
4      89
8      88
13     79
2      74
3      71
14     65
10     39
9      38
12     36
1      28
50      2
33      1
52      1
49      1
46      1
38      1
Name: count, dtype: Int64
mes_publicacion_vacante
1     379
2     363
3     275
4      48
12      4
8       1
9       1
11      1
Name: count, dtype: int64
tipo_de_vacante
nan    1072
Name: count, dtype: int64
año_publicacion_vacante
2025    1060
2024      12
Name: count, dtype: Int64

In [252]:
# Converting to integer
df['colocado'] = pd.to_numeric(df['colocado'], errors='coerce')
df['colocado'] = df['colocado'].astype(float).fillna(0).astype(int)

# Working with dates
df['mes_publicacion_vacante'] = df['fecha_de_publicacion_de_la_vacante'].dt.month
df['mes_publicacion_vacante'] = pd.to_numeric(df['mes_publicacion_vacante'], errors='coerce')
df['mes_publicacion_vacante'] = df['mes_publicacion_vacante'].fillna(0).astype(int)

## CALCULO DE POBLACIONES

In [253]:
# # Población con discapacidad
# df['discapacidad'] = ""

# # Filters applied
# filter_discapacidad = (
#     (df['condicion'].str.contains('Cognitiva')) |
#     (df['condicion'].str.contains('Física')) |
#     (df['condicion'].str.contains('Visual')) |
#     (df['condicion'].str.contains('Auditiva')) |
#     (df['condicion'].str.contains('Múltiple')) |
#     (df['condicion'].str.contains('Psicosocial')) |
#     (df['condicion'].str.contains('Sordoceguera')) |
#     (df['condicion'].str.contains('pcd')) |
#     (df['condicion'].str.contains('p.c.d')) |
#     (df['condicion'].str.contains('capacid')) 
# )

# df.loc[filter_discapacidad,'discapacidad'] = 'pcd'

# # Replace empty strings with NaN
# df['discapacidad'] = df['discapacidad'].replace("", np.nan)

In [254]:
# Initialize the column with NaN directly
df['discapacidad'] = pd.Series([np.nan] * len(df), dtype='object')

# Mapping of patterns to labels
discapacidad_patterns = {
    r'ognitiv|telect': 'Cognitiva o Intelectual',
    r'[ií]sic': 'Física',
    r'visual': 'Visual',
    r'auditiva': 'Auditiva',
    r'múltiple': 'Múltiple',
    r'sordoceguera': 'Sordoceguera',
    r'psicosocial': 'Psicosocial',
    # r'capacidad': 'Discapacidad'
}

# Apply patterns
for pattern, label in discapacidad_patterns.items():
    mask = df['condicion'].str.contains(pattern, case=False, na=False)
    df.loc[mask, 'discapacidad'] = label

In [255]:
# Poblacion VCA
df['vca'] = pd.Series(dtype='object') # Adding a new column

filter_vca = (
    df['condicion'].str.contains('vca|v.c.a|ctima', na=False) 
)

df.loc[filter_vca,'vca'] = 'vca'

# Replace empty strings with NaN
df['vca'] = df['vca'].replace("", np.nan)

In [256]:
# df[df['condicion'].str.contains('mch')]

In [257]:
# Población Víctima de Violencia de Género
df['vvg'] = pd.Series(dtype='object')

filter_vvg = (
    df['condicion'].str.contains('vvg|violencia|mch', na=False)
)

df.loc[filter_vvg,'vvg'] = 'vvg'

# Replace empty strings
df['vvg'] = df['vvg'].replace("", np.nan)

In [258]:
# Población migrante y retornada
df['migrante'] = ""

# Filters applied
filter_migrante = (
    (df['condicion'].str.contains('igran')) |
    (df['condicion'].str.contains('etorn')) 
)

df.loc[filter_migrante,'migrante'] = 'Migrante y/o retronado'

# Replace empty strings with NaN
df['migrante'] = df['migrante'].replace("", np.nan)

In [259]:
# Grupos etnicos
df['condicion'] = df['condicion'].fillna('')

df['etnias'] = ""

# Filters applied
filter_afro = (
    (df['condicion'].str.contains('negr')) |
    (df['condicion'].str.contains('afro')) |
    (df['condicion'].str.contains('mulat')) |
    (df['condicion'].str.contains('palen')) 
)

filter_raizal = (
    (df['condicion'].str.contains('raiz'))
)

filter_indig = (
    (df['condicion'].str.contains('indí'))
)

filter_git = (
    (df['condicion'].str.contains('git'))
)

# Column etnic groups
df.loc[(filter_afro | filter_git | filter_indig | filter_raizal),'etnias'] = "grupo_etnico"

# Replace empty strings with NaN
df['etnias'] = df['etnias'].replace("", np.nan)

In [260]:
# Poblacion Reincorporada
df['reincorporados'] = pd.Series(dtype=object)

filter_rei = (
    df['condicion'].str.contains('rein', na=False)
)

df.loc[filter_rei,'reincorporados'] = "reincorporados"

# Cleaning the column
df['reincorporados'] = df['reincorporados'].replace('', np.nan)

## REPORTE DE INDICADORES

In [261]:
# Vacantes registradas
mes_registro = 'marzo'
f_vacante = (df['mes_registro'] == mes_registro)

print(f'El número de empresas que solicitaron vacantes durante el mes {mes_registro} es: {len(df[f_vacante]['nombre_de_la_empresa'].unique())}')
print(f'El número de vacantes atendidas durante el mes {mes_registro} es: {len(df[f_vacante]['código_proceso'].unique())}')
# print(f'El número de puestos de trabajo atendidos durante el mes {mes_registro} es: {df[f_vacante]['vacantes_solicitadas/puestos_de_trabajo_en_plataforma'].sum()}')
print(f'El número de puestos de trabajo atendidos durante el mes {mes_registro} es: {df[f_vacante]['puestos_de_trabajo_en_plataforma'].sum()}')

El número de empresas que solicitaron vacantes durante el mes marzo es: 36
El número de vacantes atendidas durante el mes marzo es: 62
El número de puestos de trabajo atendidos durante el mes marzo es: 114.0

In [262]:
# Hojas de vida remitidas
mes = 3.0
f_remitidos = (df['fecha_envío_hojas_de_vida_a_la_empresa'].dt.month == mes)

print(f'El número de hombres con HV remitidas durante el mes {mes} es: {df[f_remitidos & (df['sexo']=='m')]['sexo'].count()}')
print(f'El número de mujeres con HV remitidas durante el mes {mes} es: {df[f_remitidos & (df['sexo']=='f')]['sexo'].count()}')
print()

print(f'El número de HV remitidas para PCD durante el mes {mes} es: {df[f_remitidos]['discapacidad'].count()}')
print(f'El número de HV remitidas para victimas durante el mes {mes} es: {df[f_remitidos]['vca'].count()}')
print(f'El número de HV remitidas para victimas de violencia de género durante el mes {mes} es: {df[f_remitidos]['vvg'].count()}')
print(f'El número de HV remitidas para migrantes durante el mes {mes} es: {df[f_remitidos]['migrante'].count()}')
print(f'El número de HV remitidas para grupos étnicos durante el mes {mes} es: {df[f_remitidos]['etnias'].count()}')
print(f'El número de HV remitidas para reincorporados durante el mes {mes} es: {df[f_remitidos]['reincorporados'].count()}')
print()

print(f'El número de HV remitidas para adultos mayores durante el mes {mes} es: {df[f_remitidos & (df['edad'] >= 60)]['sexo'].count()}')
print(f'El número de HV remitidas para adultos durante el mes {mes} es: {df[f_remitidos & (df['edad'] >= 29) & (df['edad'] < 60)]['sexo'].count()}')
print(f'El número de HV remitidas para jovenes durante el mes {mes} es: {df[f_remitidos & (df['edad'] <= 28)]['sexo'].count()}')

El número de hombres con HV remitidas durante el mes 3.0 es: 133
El número de mujeres con HV remitidas durante el mes 3.0 es: 103

El número de HV remitidas para PCD durante el mes 3.0 es: 19
El número de HV remitidas para victimas durante el mes 3.0 es: 7
El número de HV remitidas para victimas de violencia de género durante el mes 3.0 es: 7
El número de HV remitidas para migrantes durante el mes 3.0 es: 3
El número de HV remitidas para grupos étnicos durante el mes 3.0 es: 5
El número de HV remitidas para reincorporados durante el mes 3.0 es: 0

El número de HV remitidas para adultos mayores durante el mes 3.0 es: 0
El número de HV remitidas para adultos durante el mes 3.0 es: 145
El número de HV remitidas para jovenes durante el mes 3.0 es: 91

In [263]:
# Colocados por mes
mes_colocado = 'marzo'
f_colocados = (df['colocado'] == 1)&(df['mes_de_colocación_en_plataforma'] == mes_colocado)

print(f'El número de hombres colocados durante el mes {mes_colocado} es: {df[f_colocados & (df['sexo']=='m')]['sexo'].count()}')
print(f'El número de mujeres colocados durante el mes {mes_colocado} es: {df[f_colocados & (df['sexo']=='f')]['sexo'].count()}')
print()

print(f'El número de colocados para PCD durante el mes {mes_colocado} es: {df[f_colocados]['discapacidad'].count()}')
print(f'El número de colocados para victimas durante el mes {mes_colocado} es: {df[f_colocados]['vca'].count()}')
print(f'El número de colocados para para victimas de violencia de género durante el mes {mes} es: {df[f_colocados]['vvg'].count()}')
print(f'El número de colocados para migrantes durante el mes {mes_colocado} es: {df[f_colocados]['migrante'].count()}')
print(f'El número de colocados para grupos étnicos durante el mes {mes_colocado} es: {df[f_colocados]['etnias'].count()}')
print(f'El número de colocados para reincorporados durante el mes {mes_colocado} es: {df[f_remitidos]['reincorporados'].count()}')
print()

print(f'El número de colocados para adultos mayores durante el mes {mes_colocado} es: {df[f_colocados & (df['edad'] >= 60)]['sexo'].count()}')
print(f'El número de colocados para adultos durante el mes {mes_colocado} es: {df[f_colocados & (df['edad'] >= 29) & (df['edad'] < 60)]['sexo'].count()}')
print(f'El número de colocados para jovenes durante el mes {mes_colocado} es: {df[f_colocados & (df['edad'] <= 28)]['sexo'].count()}')

El número de hombres colocados durante el mes marzo es: 17
El número de mujeres colocados durante el mes marzo es: 15

El número de colocados para PCD durante el mes marzo es: 16
El número de colocados para victimas durante el mes marzo es: 0
El número de colocados para para victimas de violencia de género durante el mes 3.0 es: 0
El número de colocados para migrantes durante el mes marzo es: 1
El número de colocados para grupos étnicos durante el mes marzo es: 0
El número de colocados para reincorporados durante el mes marzo es: 0

El número de colocados para adultos mayores durante el mes marzo es: 0
El número de colocados para adultos durante el mes marzo es: 22
El número de colocados para jovenes durante el mes marzo es: 10

In [264]:
# El número de empresas que contrataron población fueron:
f_poblaciones = ~(df['etnias'].isna() & df['migrante'].isna() & df['vca'].isna() & df['discapacidad'].isna())
print(f'El número de empresas que contrataron poblaciones PCD, VCA, migrantes y Etnias durante el mes {mes_registro} es: {len(df[f_poblaciones & f_colocados]['nombre_de_la_empresa'].unique())}')
print()
print(f'El nombre de las empresas que contrataron poblaciones PCD, VCA, migrantes y Etnias durante el mes {mes_registro} son: ')
print(df[f_poblaciones & f_colocados]['nombre_de_la_empresa'].unique())

El número de empresas que contrataron poblaciones PCD, VCA, migrantes y Etnias durante el mes marzo es: 4

El nombre de las empresas que contrataron poblaciones PCD, VCA, migrantes y Etnias durante el mes marzo son:
['grupo alimentario del atlantico s.a. gralco s.a.'
 'servicios globales s.a.s.' 'corporacion universitaria americana'
 'fundacion urbe futuro']

# INFORMACIÓN JOSE BRIEVA

In [275]:
# REMITIDOS
mes = 3.0
f_remitidos = (df['fecha_envío_hojas_de_vida_a_la_empresa'].dt.month == mes)

print(f'El número de HV remitidas para PCD durante el mes {mes} es: {df[f_remitidos]['discapacidad'].count()}')
df[f_remitidos].pivot_table(index=['rango_de_edad','sexo'], columns='discapacidad', aggfunc='size', fill_value=0)

El número de HV remitidas para PCD durante el mes 3.0 es: 19

discapacidad        Auditiva  Física
rango_de_edad sexo
18-28         f            4       0
              m            0       2
29-39         f            2       1
              m            5       0
40-49         f            3       0
              m            1       0
50-59         f            1       0

In [276]:
# COLOCADOS
mes_colocado = 'marzo'
f_colocados = (df['colocado'] == 1)&(df['mes_de_colocación_en_plataforma'] == mes_colocado)

print(f'El número de colocados para PCD durante el mes {mes_colocado} es: {df[f_colocados]['discapacidad'].count()}')
df[f_colocados].pivot_table(index=['rango_de_edad','sexo'], columns='discapacidad', aggfunc='size', fill_value=0)

El número de colocados para PCD durante el mes marzo es: 16

discapacidad        Auditiva  Física
rango_de_edad sexo
18-28         f            3       0
              m            0       1
29-39         f            1       0
              m            6       1
40-49         f            2       0
              m            1       0
50-59         f            1       0

In [277]:
# EMPRESAS QUE DIERON VACANTES
print(f'Los puestos puestos de trabajo gestionados para población de PCD durante el mes {mes} fueron: ')
df[(df['mes_registro']==mes_colocado) & (~df['discapacidad'].isna())].groupby('nombre_de_la_empresa')['puestos_de_trabajo_en_plataforma'].sum()

Los puestos puestos de trabajo gestionados para población de PCD durante el mes 3.0 fueron:

nombre_de_la_empresa
corporacion universitaria americana    6.0
dolmen s.a.e.s.p.                      2.0
fundacion urbe futuro                  1.0
támara imágenes diagnosticas s.a.s.    1.0
Name: puestos_de_trabajo_en_plataforma, dtype: float64

In [278]:
print(f'Los colocados en empresas que ofrecieron vacantes para población de PCD durante el mes {mes_colocado} fueron: ')
df[f_colocados & (~df['discapacidad'].isna())]['nombre_de_la_empresa'].value_counts()

Los colocados en empresas que ofrecieron vacantes para población de PCD durante el mes marzo fueron:

nombre_de_la_empresa
corporacion universitaria americana                 12
servicios globales s.a.s.                            2
grupo alimentario del atlantico s.a. gralco s.a.     1
fundacion urbe futuro                                1
Name: count, dtype: int64

In [279]:
# AREAS 
print(f'Las contratación de PcD durante el mes {mes} se dió como:')
df[f_colocados & (~df['discapacidad'].isna())]['nombre_de_la_vacante'].value_counts()

Las contratación de PcD durante el mes 3.0 se dió como:

nombre_de_la_vacante
docente de apoyo -modelo linguistico    12
asistente administrativo                 2
auxiliar hseq th                         1
operario de aseo (pcd)                   1
Name: count, dtype: int64