In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option("display.max_columns", None)

In [3]:
# df = pd.read_excel(r"C:\Users\jober\OneDrive\Desktop\BD_CO\Base de Intermediacion Laboral 2025.xlsx",sheet_name="BASE GENERAL")
df = pd.read_excel(r"C:\Users\jober\Downloads\Base de Intermediacion Laboral 2025.xlsx",sheet_name="BASE GENERAL")

In [4]:
# Typing column the names 
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(" ","_")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88935 entries, 0 to 88934
Data columns (total 35 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   item                                                   6217 non-null   float64
 1   mes_registro                                           1341 non-null   object
 2   convenio                                               1341 non-null   object
 3   gestión_vacante_                                       1341 non-null   object
 4   población                                              1341 non-null   object
 5   no.                                                    1341 non-null   float64
 6   código_proceso                                         1341 non-null   object
 7   nombre_de_la_empresa                                   1341 non-null   object
 8   nombre_de_la_vacante                                   1341 non-null   object
 9   vacantes_solicitadas/puestos_de_trabajo_en_plataforma  284 non-null    float64
 10  fecha_de_publicacion_de_la_vacante                     1341 non-null   datetime64[ns]
 11  fecha_de_vencimiento_de_la_vacante                     1341 non-null   datetime64[ns]
 12  hojas_de_vida_remitidas                                1321 non-null   object
 13  fecha_envío_hojas_de_vida_a_la_empresa                 1321 non-null   object
 14  nombre_del_candidato                                   1320 non-null   object
 15  cedula                                                 1320 non-null   object
 16  telefono                                               1320 non-null   object
 17  edad                                                   1320 non-null   object
 18  rango_de_edad                                          1320 non-null   object
 19  nivel_educativo                                        1320 non-null   object
 20  formacion                                              1320 non-null   object
 21  sexo                                                   1320 non-null   object
 22  barrio                                                 1321 non-null   object
 23  condicion                                              1320 non-null   object
 24  gestor                                                 1340 non-null   object
 25  intermediador_                                         1333 non-null   object
 26  llamada_/_convocatoria/_base_de_datos                  1319 non-null   object
 27  observación_intermediación                             75 non-null     object
 28  observación_gestión                                    20 non-null     object
 29  observación_del_candidato                              0 non-null      float64
 30  mes_de_colocación_en_plataforma                        134 non-null    object
 31  colocado                                               134 non-null    float64
 32  semana_publicacion_vacante                             88934 non-null  float64
 33  mes_publicacion_vacante                                88934 non-null  float64
 34  tipo_de_vacante                                        0 non-null      float64
dtypes: datetime64[ns](2), float64(8), object(25)
memory usage: 23.7+ MB

In [6]:
df.columns

Index(['item', 'mes_registro', 'convenio', 'gestión_vacante_', 'población',
       'no.', 'código_proceso', 'nombre_de_la_empresa', 'nombre_de_la_vacante',
       'vacantes_solicitadas/puestos_de_trabajo_en_plataforma',
       'fecha_de_publicacion_de_la_vacante',
       'fecha_de_vencimiento_de_la_vacante', 'hojas_de_vida_remitidas',
       'fecha_envío_hojas_de_vida_a_la_empresa', 'nombre_del_candidato',
       'cedula', 'telefono', 'edad', 'rango_de_edad', 'nivel_educativo',
       'formacion', 'sexo', 'barrio', 'condicion', 'gestor', 'intermediador_',
       'llamada_/_convocatoria/_base_de_datos', 'observación_intermediación',
       'observación_gestión', 'observación_del_candidato',
       'mes_de_colocación_en_plataforma', 'colocado',
       'semana_publicacion_vacante', 'mes_publicacion_vacante',
       'tipo_de_vacante'],
      dtype='object')

## 0. Selecting the useful rows

In [7]:
# Cleaning NaN data. Data as 'nan' are not actual "NaN":
for column in df.columns:
    df[column] = df[column].replace('nan', pd.NA)

In [8]:
df['fecha_envío_hojas_de_vida_a_la_empresa'] = pd.to_datetime(df['fecha_envío_hojas_de_vida_a_la_empresa'],errors='coerce')

In [9]:
# Selecting the useful rows only
filter_mt = (df['mes_registro'].isna() & df['gestión_vacante_'].isna() & 
             df['población'].isna() & df['código_proceso'].isna() )
             # & ~df['nombre_del_candidato'].str.contains('REMIT') & ~df['fecha_envío_hojas_de_vida_a_la_empresa'].isna())
df = df[~filter_mt]

## 1. Cleaning columns

In [10]:
# Cleaning columns
subset_columns = ['mes_registro', 'convenio', 'gestión_vacante_', 'población',
       'código_proceso', 'nombre_de_la_empresa', 'nombre_de_la_vacante',
       'nombre_del_candidato', 'nivel_educativo', 'formacion', 'sexo', 'barrio', 'condicion', 
       'gestor', 'intermediador_','llamada_/_convocatoria/_base_de_datos', 'observación_intermediación',
       'observación_gestión', 'observación_del_candidato', 'mes_de_colocación_en_plataforma', 'colocado',
       'semana_publicacion_vacante', 'mes_publicacion_vacante', 'tipo_de_vacante']

for column in subset_columns:
    df[column] = [str(i).lower() for i in df[column]]
    df[column] = [str(i).strip() for i in df[column]]

In [11]:
df = df.rename(columns={'vacantes_solicitadas/puestos_de_trabajo_en_plataforma':'puestos_de_trabajo_en_plataforma'})

In [12]:
# Cleaning column 'convenio': 
df['convenio'] = df['convenio'].replace(['ninguno', 'ninguna'],np.nan)

In [13]:
# Cleaning column 'nivel_educativo': 
dictionary = {
    'técnico':'tecnico',
    'tegnologo':'tecnologo',
    'tecnologa':'tecnologo',
    'universitaria':'universitario',
    'pfofesional':'universitario',
    'profesional':'universitario',
    'primaria':'basica primaria',
    'bachiller':'educación media',
}
df['nivel_educativo'] = df['nivel_educativo'].replace(dictionary)

In [14]:
# Cleaning column 'edad': 
df['edad'] = df['edad'].fillna(0)
df['edad'] = df['edad'].apply(lambda x:int(x) if str(x).isdigit() else np.nan)

def range_age(age):
    if  0 < age < 18:
        return '< 18'
    elif 18 <= age < 29:
        return '18-28'
    elif 29 <= age < 40:
        return '29-39'
    elif 40 <= age < 50:
        return '40-49'
    elif 50 <= age < 60:
        return '50-59'
    elif 60 <= age < 2000:
        return '> 60'
    else:
        return np.nan

df['rango_de_edad'] = df['edad'].apply(range_age)

In [15]:
# Cleaning column 'condicion': 
df['condicion'] = df['condicion'].replace(['ninguna','ninguno','nimguno'],np.nan)

In [16]:
# Cleaning column 'semana_publicacion_vacante': 
df['semana_publicacion_vacante'] = df['fecha_de_publicacion_de_la_vacante'].dt.isocalendar().week

# Cleaning column 'mes_publicacion_vacante': 
df['mes_publicacion_vacante'] = df['fecha_de_publicacion_de_la_vacante'].dt.month.fillna(0).astype(int)

# Cleaning column 'año_publicacion_vacante': 
df['año_publicacion_vacante'] = df['fecha_de_publicacion_de_la_vacante'].dt.isocalendar().year

In [17]:
# Evaluating unique values:
for column in df.columns:
    print(df[column].value_counts())

item
1.0       1
898.0     1
896.0     1
895.0     1
894.0     1
         ..
445.0     1
444.0     1
443.0     1
442.0     1
1336.0    1
Name: count, Length: 1335, dtype: int64
mes_registro
enero         379
febrero       363
abril         324
marzo         268
diciembre       4
agosto          1
septiembre      1
noviembre       1
Name: count, dtype: int64
convenio
consorcio    18
Name: count, dtype: int64
gestión_vacante_
gestionar        1335
sin gestionar       5
cancelada           1
Name: count, dtype: int64
población
regular                 1235
discapacidad              65
regular/discapacidad      30
discapacidad/regular       6
regular/migrante           5
Name: count, dtype: int64
no.
54.0    54
42.0    45
55.0    43
23.0    33
50.0    31
        ..
77.0     1
78.0     1
79.0     1
80.0     1
81.0     1
Name: count, Length: 81, dtype: int64
código_proceso
211626-95        33
311612-51        33
314594-62566     24
1626050035-58    22
1625979883-3     18
                 ..
1625977959-23     1
1626039699-1      1
1626292329-22     1
1626292329-20     1
211933-144360     1
Name: count, Length: 294, dtype: int64
nombre_de_la_empresa
su servicio temporal s.a                            42
poliplastics s.a.s                                  42
inversisa sas                                       37
grupo alimentario del atlantico s.a. gralco s.a.    36
servicios de alimentacion n.p. s.a.                 35
                                                    ..
jag ingenieria y refrigeracion s.a.s.                1
hinduja global solutions                             1
js ingenieria y construcciones sas                   1
servi industriales y mercadeo ltda                   1
consorcio mercados barranquilla 2022                 1
Name: count, Length: 135, dtype: int64
nombre_de_la_vacante
asesor comercial                   52
operario de producción (cd)        33
operario de vaciado                33
auxiliar contable                  31
auxiliar de servicios generales    24
                                   ..
isntructor de modisteria            1
first medical de colombia sas       1
aprendiz  recursos humanos          1
señalizador vial- paletera *        1
psicologo de seleccion              1
Name: count, Length: 244, dtype: int64
puestos_de_trabajo_en_plataforma
1.0     210
2.0      40
3.0      11
4.0       7
10.0      4
5.0       4
6.0       3
15.0      2
50.0      1
30.0      1
8.0       1
Name: count, dtype: int64
fecha_de_publicacion_de_la_vacante
2025-01-27    82
2025-02-12    48
2025-02-18    45
2025-01-20    44
2025-03-25    39
              ..
2024-12-13     1
2024-12-11     1
2024-12-05     1
2024-11-13     1
2024-09-20     1
Name: count, Length: 80, dtype: int64
fecha_de_vencimiento_de_la_vacante
2025-04-01    56
2025-04-11    55
2025-01-17    54
2025-01-27    49
2025-04-08    48
              ..
2024-12-20     1
2024-12-14     1
2024-11-19     1
2024-09-27     1
2025-03-22     1
Name: count, Length: 79, dtype: int64
hojas_de_vida_remitidas
1              1316
1                 4
SIN REMITIR       1
Name: count, dtype: int64
fecha_envío_hojas_de_vida_a_la_empresa
2025-04-11    64
2025-01-27    54
2025-01-14    42
2025-02-25    42
2025-02-12    41
              ..
2025-02-20     4
2025-02-24     3
2024-01-29     3
2025-02-28     2
2025-01-12     1
Name: count, Length: 75, dtype: int64
nombre_del_candidato
nan                                       21
pedro manuel barriosnuevos solano          5
alfredo rafael michilena moron             5
yeinis patricia badel ruiz                 5
brianis naileth simanca rodriguez          5
                                          ..
daniela carolina noguera ortega            1
mishel paola leguizamo santiago_x000d_     1
paula andrea martinez quintero             1
johanna mora dix                           1
eder henriquez blanquicett                 1
Name: count, Length: 1080, dtype: int64
cedula
72352119      5
1007451119    5
22522750      5
1143465141    5
1143143225    5
             ..
1007470125    1
1140855615    1
1140837551    1
1140894304    1
73595504      1
Name: count, Length: 1057, dtype: int64
telefono
3045555114    5
3234771125    5
3001487022    4
3016632074    4
3017991190    4
             ..
3243478332    1
3013441207    1
3007861353    1
3046817333    1
3243012607    1
Name: count, Length: 1097, dtype: int64
edad
30.0    76
26.0    75
24.0    70
27.0    67
33.0    60
28.0    59
39.0    59
25.0    58
34.0    53
29.0    52
31.0    52
32.0    48
37.0    47
35.0    46
36.0    45
42.0    39
21.0    37
38.0    37
22.0    36
43.0    31
23.0    28
46.0    28
41.0    28
20.0    28
40.0    25
44.0    24
0.0     21
45.0    19
47.0    16
48.0    13
49.0    11
54.0     8
50.0     7
57.0     6
53.0     5
51.0     4
18.0     4
19.0     4
64.0     3
55.0     3
56.0     3
59.0     2
52.0     2
58.0     1
Name: count, dtype: int64
rango_de_edad
29-39    575
18-28    466
40-49    234
50-59     41
> 60       3
Name: count, dtype: int64
nivel_educativo
educación media                 371
tecnico                         370
universitario                   283
tecnologo                       211
tecnico laboral                  53
nan                              21
estudiante                        9
basica secundaria                 5
especialista                      4
tecnico profesional               4
tecnólogo                         3
basica primaria                   2
certificado por competencias      1
especialista (en formacion)       1
básica primaria                   1
sin remitir                       1
tecnica profesional               1
Name: count, dtype: int64
formacion
bachiller academico                              261
bachiller académico                               43
contador publico                                  41
bachller academico                                23
nan                                               21
                                                ...
tecnico profesional en desarrollo de software      1
tecnico laboral auxiliar administrativo            1
tecnico en analisis y programacion                 1
técnico en aduanas                                 1
bachiller tecnico en ciencias                      1
Name: count, Length: 578, dtype: int64
sexo
m      799
f      521
nan     21
Name: count, dtype: int64
barrio
soledad                             131
malambo                              28
sabanalarga                          23
simon bolivar                        20
nan                                  20
                                   ...
san carlos - puerto colombia          1
ciudadela de paz                      1
las margaritas - puerto colombia      1
renacer-soledad                       1
el universal                          1
Name: count, Length: 386, dtype: int64
condicion
juventudes                            253
migrante                               44
discapacidad auditiva                  41
mch                                    25
vca                                    23
nan                                    21
discapacidad fisica                    16
juventudes/vca                         14
afrocolombiano                          9
lgtbiq+                                 9
discapacidad - auditiva                 8
discapacidad - fisica                   7
juventudes/migrante                     6
adulto mayor                            4
vca/juventudes                          4
migrante/juventudes                     4
discapacidad-fisica                     3
afrocolombiana                          3
discapacidad auditiva/juventudes        3
indigena                                2
retornada                               2
discapacidad-auditiva                   2
discapacidad-visual                     1
discapacidad auditiva/lgtbiq+           1
sin remitir                             1
juvetudes/migrante                      1
juentudes                               1
discapacidad visual/juventudes          1
discapacidad fisica/migrante            1
pcd                                     1
discapacidad visual                     1
discapacidad fisica/juventudes          1
afrocolombiano/migrante/juventudes      1
discapacidad auditiva/vca               1
retornado-mch                           1
Name: count, dtype: int64
gestor
ana pallares               383
luz amparo debedout        342
maria fernanda salcedo     201
jenny  alvarez             110
nataly reyes                90
mileydis oñoro              82
sindy romero                72
ana fonseca                 56
maria fernanda fontalvo      2
luz amparo de bedout         2
nan                          1
Name: count, dtype: int64
intermediador_
ana fonseca                                               270
sindy romero                                              258
nataly reyes                                              255
ana pallares                                              249
ana fonseca/nataly reyes                                   72
maria fernanda salcedo                                     64
geovanny jimenez                                           38
sindy romero/ana fonseca                                   28
daniela lugo/jose brieva                                   20
jenny alvarez                                              20
nataly reyes/daniela lugo/jose brieva/geovanny jimenez     16
sindy romero/daniela lugo                                  12
ana pallares/jeovanni jimenez                               9
daniela lugo/jose brieva/geovanny jimenez                   9
nan                                                         8
sindy romero/daniela lugo/jose brieva/geovanny jimenez      5
jenny  alvarez                                              4
ana fonseca/daniela lugo/jose brieva/geovanny jimenez       2
jose brieva/geovanny jimenez                                1
nataly reyes/ana fonseca                                    1
Name: count, dtype: int64
llamada_/_convocatoria/_base_de_datos
llamada                                                                  781
base de datos                                                            269
base de datos sise                                                        98
empresa vinculada al programa inclusion "oportunidades sin fronteras"     33
remitido                                                                  30
nan                                                                       22
correo institucional                                                      21
postulado por agencia                                                     15
referidos                                                                 10
remitidas                                                                  9
base de datos  sise                                                        6
base de datos orientados                                                   6
chatlemos                                                                  4
base de datos feria                                                        4
correo jovenes                                                             4
remitidos inca                                                             4
referido                                                                   3
convocatoria presencial                                                    3
recomendada                                                                3
base  de datos sise                                                        2
base de datos migrante                                                     2
base de datos bid                                                          2
convocatoria laboral (14 feb)                                              1
base de datos-feria pal barrio santuario                                   1
base de datos fsd                                                          1
remitido base de datos pcd                                                 1
base de registro                                                           1
base de dato chatlemos                                                     1
base de datos integrate                                                    1
base de datos migrantes                                                    1
base de datos chatlemos                                                    1
sin remitir                                                                1
Name: count, dtype: int64
observación_intermediación
nan                                                                                                                  1266
error en la fecha al momento de cargar la vacante, la cual no vencia el vienes 31 de enero sino hoy 03 de febrero      19
segunda remision                                                                                                       14
ii remision                                                                                                            13
2da remision                                                                                                            8
sin experiencia decreto 0532/2024                                                                                       5
iii remision                                                                                                            4
remitido desde el usuario de yeimy                                                                                      2
tiene licencia carro c1                                                                                                 1
tiene licencia moto a2                                                                                                  1
pte x postular en sise ya se valido todo y no permite autopostular                                                      1
tambien tiene experiencia en visual merchandising                                                                       1
vacante sin remisión                                                                                                    1
2 remision                                                                                                              1
migrante - retornado                                                                                                    1
correo institucional                                                                                                    1
vacante cancelada por error en nombre de cargo                                                                          1
segunda remisión                                                                                                        1
Name: count, dtype: int64
observación_gestión
nan                                                                                                                     1321
error al momento de cargar la vacante, ya que se cargo el 3 de febrero y realmente vence el 7 de febrero                  10
cancelada por el gestor-error en el registro de vacante                                                                    6
segunda remision                                                                                                           1
cancelada por el gestor posterior a informacion suministrada por la empresa donde decide no continuar con el proceso       1
error al subir nombre de la vacante                                                                                        1
error al subir la vacante por parte del gestor                                                                             1
Name: count, dtype: int64
observación_del_candidato
nan    1341
Name: count, dtype: int64
mes_de_colocación_en_plataforma
nan        1207
enero        67
marzo        32
abril        20
febrero      15
Name: count, dtype: int64
colocado
nan    1207
1.0     134
Name: count, dtype: int64
semana_publicacion_vacante
15    125
6     124
14    122
5     117
7     113
11    104
4      89
13     89
8      88
2      74
3      71
17     58
10     39
9      38
12     36
1      28
18     19
50      2
46      1
33      1
38      1
52      1
49      1
Name: count, dtype: Int64
mes_publicacion_vacante
1     379
2     363
4     297
3     295
12      4
8       1
9       1
11      1
Name: count, dtype: int64
tipo_de_vacante
nan    1341
Name: count, dtype: int64
año_publicacion_vacante
2025    1329
2024      12
Name: count, dtype: Int64

In [18]:
# Converting to integer
df['colocado'] = pd.to_numeric(df['colocado'], errors='coerce')
df['colocado'] = df['colocado'].astype(float).fillna(0).astype(int)

# Working with dates
df['mes_publicacion_vacante'] = df['fecha_de_publicacion_de_la_vacante'].dt.month
df['mes_publicacion_vacante'] = pd.to_numeric(df['mes_publicacion_vacante'], errors='coerce')
df['mes_publicacion_vacante'] = df['mes_publicacion_vacante'].fillna(0).astype(int)

## CALCULO DE POBLACIONES

In [19]:
# # Población con discapacidad
# df['discapacidad'] = ""

# # Filters applied
# filter_discapacidad = (
#     (df['condicion'].str.contains('Cognitiva')) |
#     (df['condicion'].str.contains('Física')) |
#     (df['condicion'].str.contains('Visual')) |
#     (df['condicion'].str.contains('Auditiva')) |
#     (df['condicion'].str.contains('Múltiple')) |
#     (df['condicion'].str.contains('Psicosocial')) |
#     (df['condicion'].str.contains('Sordoceguera')) |
#     (df['condicion'].str.contains('pcd')) |
#     (df['condicion'].str.contains('p.c.d')) |
#     (df['condicion'].str.contains('capacid')) 
# )

# df.loc[filter_discapacidad,'discapacidad'] = 'pcd'

# # Replace empty strings with NaN
# df['discapacidad'] = df['discapacidad'].replace("", np.nan)

In [20]:
# Initialize the column with NaN directly
df['discapacidad'] = pd.Series([np.nan] * len(df), dtype='object')

# Mapping of patterns to labels
discapacidad_patterns = {
    r'ognitiv|telect': 'Cognitiva o Intelectual',
    r'[ií]sic': 'Física',
    r'visual': 'Visual',
    r'auditiva': 'Auditiva',
    r'múltiple': 'Múltiple',
    r'sordoceguera': 'Sordoceguera',
    r'psicosocial': 'Psicosocial',
    # r'capacidad': 'Discapacidad'
}

# Apply patterns
for pattern, label in discapacidad_patterns.items():
    mask = df['condicion'].str.contains(pattern, case=False, na=False)
    df.loc[mask, 'discapacidad'] = label

In [21]:
# Poblacion VCA
df['vca'] = pd.Series(dtype='object') # Adding a new column

filter_vca = (
    df['condicion'].str.contains('vca|v.c.a|ctima', na=False) 
)

df.loc[filter_vca,'vca'] = 'vca'

# Replace empty strings with NaN
df['vca'] = df['vca'].replace("", np.nan)

In [22]:
# df[df['condicion'].str.contains('mch')]

In [23]:
# Población Víctima de Violencia de Género
df['vvg'] = pd.Series(dtype='object')

filter_vvg = (
    df['condicion'].str.contains('vvg|violencia|mch', na=False)
)

df.loc[filter_vvg,'vvg'] = 'vvg'

# Replace empty strings
df['vvg'] = df['vvg'].replace("", np.nan)

In [24]:
# Población migrante y retornada
df['migrante'] = ""

# Filters applied
filter_migrante = (
    (df['condicion'].str.contains('igran')) |
    (df['condicion'].str.contains('etorn')) 
)

df.loc[filter_migrante,'migrante'] = 'Migrante y/o retronado'

# Replace empty strings with NaN
df['migrante'] = df['migrante'].replace("", np.nan)

In [25]:
# Grupos etnicos
df['condicion'] = df['condicion'].fillna('')

df['etnias'] = ""

# Filters applied
filter_afro = (
    (df['condicion'].str.contains('negr')) |
    (df['condicion'].str.contains('afro')) |
    (df['condicion'].str.contains('mulat')) |
    (df['condicion'].str.contains('palen')) 
)

filter_raizal = (
    (df['condicion'].str.contains('raiz'))
)

filter_indig = (
    (df['condicion'].str.contains('indí'))
)

filter_git = (
    (df['condicion'].str.contains('git'))
)

# Column etnic groups
df.loc[(filter_afro | filter_git | filter_indig | filter_raizal),'etnias'] = "grupo_etnico"

# Replace empty strings with NaN
df['etnias'] = df['etnias'].replace("", np.nan)

In [26]:
# Poblacion Reincorporada
df['reincorporados'] = pd.Series(dtype=object)

filter_rei = (
    df['condicion'].str.contains('rein', na=False)
)

df.loc[filter_rei,'reincorporados'] = "reincorporados"

# Cleaning the column
df['reincorporados'] = df['reincorporados'].replace('', np.nan)

## REPORTE DE INDICADORES

In [27]:
# Vacantes registradas
mes_registro = 'abril'
f_vacante = (df['mes_registro'] == mes_registro)

print(f'El número de empresas que solicitaron vacantes durante el mes {mes_registro} es: {len(df[f_vacante]['nombre_de_la_empresa'].unique())}')
print(f'El número de vacantes atendidas durante el mes {mes_registro} es: {len(df[f_vacante]['código_proceso'].unique())}')
# print(f'El número de puestos de trabajo atendidos durante el mes {mes_registro} es: {df[f_vacante]['vacantes_solicitadas/puestos_de_trabajo_en_plataforma'].sum()}')
print(f'El número de puestos de trabajo atendidos durante el mes {mes_registro} es: {df[f_vacante]['puestos_de_trabajo_en_plataforma'].sum()}')

El número de empresas que solicitaron vacantes durante el mes abril es: 41
El número de vacantes atendidas durante el mes abril es: 82
El número de puestos de trabajo atendidos durante el mes abril es: 119.0

In [28]:
# Hojas de vida remitidas
mes = 4.0
f_remitidos = (df['fecha_envío_hojas_de_vida_a_la_empresa'].dt.month == mes)

print(f'El número de hombres con HV remitidas durante el mes {mes} es: {df[f_remitidos & (df['sexo']=='m')]['sexo'].count()}')
print(f'El número de mujeres con HV remitidas durante el mes {mes} es: {df[f_remitidos & (df['sexo']=='f')]['sexo'].count()}')
print()

print(f'El número de HV remitidas para PCD durante el mes {mes} es: {df[f_remitidos]['discapacidad'].count()}')
print(f'El número de HV remitidas para victimas durante el mes {mes} es: {df[f_remitidos]['vca'].count()}')
print(f'El número de HV remitidas para victimas de violencia de género durante el mes {mes} es: {df[f_remitidos]['vvg'].count()}')
print(f'El número de HV remitidas para migrantes durante el mes {mes} es: {df[f_remitidos]['migrante'].count()}')
print(f'El número de HV remitidas para grupos étnicos durante el mes {mes} es: {df[f_remitidos]['etnias'].count()}')
print(f'El número de HV remitidas para reincorporados durante el mes {mes} es: {df[f_remitidos]['reincorporados'].count()}')
print()

print(f'El número de HV remitidas para adultos mayores durante el mes {mes} es: {df[f_remitidos & (df['edad'] >= 60)]['sexo'].count()}')
print(f'El número de HV remitidas para adultos durante el mes {mes} es: {df[f_remitidos & (df['edad'] >= 29) & (df['edad'] < 60)]['sexo'].count()}')
print(f'El número de HV remitidas para jovenes durante el mes {mes} es: {df[f_remitidos & (df['edad'] <= 28)]['sexo'].count()}')

El número de hombres con HV remitidas durante el mes 4.0 es: 205
El número de mujeres con HV remitidas durante el mes 4.0 es: 149

El número de HV remitidas para PCD durante el mes 4.0 es: 24
El número de HV remitidas para victimas durante el mes 4.0 es: 10
El número de HV remitidas para victimas de violencia de género durante el mes 4.0 es: 12
El número de HV remitidas para migrantes durante el mes 4.0 es: 10
El número de HV remitidas para grupos étnicos durante el mes 4.0 es: 2
El número de HV remitidas para reincorporados durante el mes 4.0 es: 0

El número de HV remitidas para adultos mayores durante el mes 4.0 es: 0
El número de HV remitidas para adultos durante el mes 4.0 es: 239
El número de HV remitidas para jovenes durante el mes 4.0 es: 115

In [29]:
# Colocados por mes
mes_colocado = 'abril'
f_colocados = (df['colocado'] == 1)&(df['mes_de_colocación_en_plataforma'] == mes_colocado)

print(f'El número de hombres colocados durante el mes {mes_colocado} es: {df[f_colocados & (df['sexo']=='m')]['sexo'].count()}')
print(f'El número de mujeres colocados durante el mes {mes_colocado} es: {df[f_colocados & (df['sexo']=='f')]['sexo'].count()}')
print()

print(f'El número de colocados para PCD durante el mes {mes_colocado} es: {df[f_colocados]['discapacidad'].count()}')
print(f'El número de colocados para victimas durante el mes {mes_colocado} es: {df[f_colocados]['vca'].count()}')
print(f'El número de colocados para para victimas de violencia de género durante el mes {mes} es: {df[f_colocados]['vvg'].count()}')
print(f'El número de colocados para migrantes durante el mes {mes_colocado} es: {df[f_colocados]['migrante'].count()}')
print(f'El número de colocados para grupos étnicos durante el mes {mes_colocado} es: {df[f_colocados]['etnias'].count()}')
print(f'El número de colocados para reincorporados durante el mes {mes_colocado} es: {df[f_remitidos]['reincorporados'].count()}')
print()

print(f'El número de colocados para adultos mayores durante el mes {mes_colocado} es: {df[f_colocados & (df['edad'] >= 60)]['sexo'].count()}')
print(f'El número de colocados para adultos durante el mes {mes_colocado} es: {df[f_colocados & (df['edad'] >= 29) & (df['edad'] < 60)]['sexo'].count()}')
print(f'El número de colocados para jovenes durante el mes {mes_colocado} es: {df[f_colocados & (df['edad'] <= 28)]['sexo'].count()}')

El número de hombres colocados durante el mes abril es: 8
El número de mujeres colocados durante el mes abril es: 12

El número de colocados para PCD durante el mes abril es: 6
El número de colocados para victimas durante el mes abril es: 1
El número de colocados para para victimas de violencia de género durante el mes 4.0 es: 2
El número de colocados para migrantes durante el mes abril es: 0
El número de colocados para grupos étnicos durante el mes abril es: 0
El número de colocados para reincorporados durante el mes abril es: 0

El número de colocados para adultos mayores durante el mes abril es: 0
El número de colocados para adultos durante el mes abril es: 11
El número de colocados para jovenes durante el mes abril es: 9

In [30]:
# El número de empresas que contrataron población fueron:
f_poblaciones = ~(df['etnias'].isna() & df['migrante'].isna() & df['vca'].isna() & df['discapacidad'].isna())
print(f'El número de empresas que contrataron poblaciones PCD, VCA, migrantes y Etnias durante el mes {mes_registro} es: {len(df[f_poblaciones & f_colocados]['nombre_de_la_empresa'].unique())}')
print()
print(f'El nombre de las empresas que contrataron poblaciones PCD, VCA, migrantes y Etnias durante el mes {mes_registro} son: ')
print(df[f_poblaciones & f_colocados]['nombre_de_la_empresa'].unique())

El número de empresas que contrataron poblaciones PCD, VCA, migrantes y Etnias durante el mes abril es: 2

El nombre de las empresas que contrataron poblaciones PCD, VCA, migrantes y Etnias durante el mes abril son:
['poliplastics s.a.s' 'dolmen s.a.e.s.p.']

# INFORMACIÓN JOSE BRIEVA

In [31]:
# REMITIDOS
mes = 4.0
f_remitidos = (df['fecha_envío_hojas_de_vida_a_la_empresa'].dt.month == mes)

print(f'El número de HV remitidas para PCD durante el mes {mes} es: {df[f_remitidos]['discapacidad'].count()}')
df[f_remitidos].pivot_table(index=['rango_de_edad','sexo'], columns='discapacidad', aggfunc='size', fill_value=0)

El número de HV remitidas para PCD durante el mes 4.0 es: 24

discapacidad        Auditiva  Física  Visual
rango_de_edad sexo
18-28         f            0       1       0
              m            4       1       1
29-39         f            1       1       0
              m            4       2       0
40-49         f            0       2       0
              m            3       2       0
50-59         f            0       1       0
              m            0       1       0

In [32]:
# COLOCADOS
mes_colocado = 'abril'
f_colocados = (df['colocado'] == 1)&(df['mes_de_colocación_en_plataforma'] == mes_colocado)

print(f'El número de colocados para PCD durante el mes {mes_colocado} es: {df[f_colocados]['discapacidad'].count()}')
df[f_colocados].pivot_table(index=['rango_de_edad','sexo'], columns='discapacidad', aggfunc='size', fill_value=0)

El número de colocados para PCD durante el mes abril es: 6

discapacidad        Auditiva
rango_de_edad sexo
18-28         m            2
29-39         f            1
              m            2
40-49         f            1

In [33]:
# EMPRESAS QUE DIERON VACANTES
print(f'Los puestos puestos de trabajo gestionados para población de PCD durante el mes {mes} fueron: ')
df[(df['mes_registro']==mes_colocado) & (~df['discapacidad'].isna())].groupby('nombre_de_la_empresa')['puestos_de_trabajo_en_plataforma'].sum()

Los puestos puestos de trabajo gestionados para población de PCD durante el mes 4.0 fueron:

nombre_de_la_empresa
arcangeles fund. para la rehabilitacion integral    1.0
aseocolba                                           1.0
donado arce & cia sas                               1.0
securitas colombia s.a.                             0.0
vadem construcciones sas                            1.0
Name: puestos_de_trabajo_en_plataforma, dtype: float64

In [34]:
print(f'Los colocados en empresas que ofrecieron vacantes para población de PCD durante el mes {mes_colocado} fueron: ')
df[f_colocados & (~df['discapacidad'].isna())]['nombre_de_la_empresa'].value_counts()

Los colocados en empresas que ofrecieron vacantes para población de PCD durante el mes abril fueron:

nombre_de_la_empresa
poliplastics s.a.s    4
dolmen s.a.e.s.p.     2
Name: count, dtype: int64

In [35]:
# AREAS 
print(f'Las contratación de PcD durante el mes {mes} se dió como:')
df[f_colocados & (~df['discapacidad'].isna())]['nombre_de_la_vacante'].value_counts()

Las contratación de PcD durante el mes 4.0 se dió como:

nombre_de_la_vacante
operario de costura        2
operario de produdccion    2
guardaparques (pcd)        2
Name: count, dtype: int64